@tailwind base;
@tailwind components;
@tailwind utilities;

/* HTML: <div class="loader"></div> */
.loader {
    width: 100px;
    aspect-ratio: 1;
    display: grid;
  }
  .loader::before,
  .loader::after {
    content: "";
    grid-area: 1/1;
    background: #25b09b;
    clip-path: polygon(0 0,50% 50%, 0 100%);
    animation: l11 2s infinite;
  }
  .loader::after {
    animation-delay: -1.5s;
    --s:90deg;
  }
  @keyframes l11 {
      0%,12.5%    {transform:rotate(var(--s,0deg)) rotate(0deg)}
      37.5%,62.5% {transform:rotate(var(--s,0deg)) rotate(-180deg)}
      87.5%,100%  {transform:rotate(var(--s,0deg)) rotate(-360deg)}
  }

  /* HTML: <div class="loader"></div> */
/* HTML: <div class="loader"></div> */
.appointment_loader {
  width: calc(80px / cos(45deg));
  height: 14px;
  background: repeating-linear-gradient(-45deg,#000 0 15px,#0000 0 20px) left/200% 100%;
  animation: l3 2s infinite linear;
}
@keyframes l3 {
    100% {background-position:right}
}
.dashboard_appointment_loader {
  width: calc(80px / cos(45deg));
  height: 14px;
  background: repeating-linear-gradient(-45deg,#5bbf93 0 15px,#0000 0 20px) left/200% 100%;
  animation: l3 2s infinite linear;
}
@keyframes l3 {
    100% {background-position:right}
}